<h1>List of contacts:</h1>
<ul>
	<% @contacts.each do |contact| %>
	<li><%= link_to "#{contact.name}", "/contacts/show/#{contact.id}" %>
		<% if contact.favorite == false %>
		<button type="submit">Add to Favorites</button>
		<% else %>
		<p> FAVORITE! </p>
		<% end %>
	</li>
	<% end %>
</ul>
<%= link_to "Add Contact", '/contacts/new' %>