<!-- views/add.erb -->
<!doctype html>
<html>
<head>
  <title>Calculator | Online Calculator</title>
</head>
<body>
<form>
  <h1>Calculate:</h1>
  <form action="/calculate_add" method="POST">
  <input type="number" name="first_number" placeholder="1st number">
  <input type="number" name="second_number" placeholder="2nd number"><br>
  <input type="checkbox" name="operation" value=sum>Add<br>
  <input type="checkbox" name="operation" value=subs>Substract<br>
  <input type="checkbox" name="operation" value=mult>Multiply<br>
  <input type="checkbox" name="operation" value=div>Divide<br>
   <button type="submit" value=calc>Calculate</button>
  </form>
</body>
</html>